{% extends "base.html" %}

{% block content %}
<div>
    <h1>Comments for {{ photo.title }}</h1>
    <div><img src="{{ photo.image.url }}"></div>
    {% for comment in comments %}
        <div class="mt3">{{ comment.owner }} says '{{ comment.body }}'
        </div>
    {% endfor %}            
    <div class="mt5">
        <h2>Add a New Comment</h2>
        <form action="{% url 'list_comments' pk=photo.pk %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
          <button type="submit">Add Comment to Photo</button><br>
        </div>
        </form>        
    </div>    

    <br>       
</div>
{% endblock %}