{% extends "base.html" %}

{% block content %}


<div class="gray mt5">
  <h1>Photo List</h1>
</div>

<form action="/albums/search">
  <input placeholder="find photo" type="text" name="q">
  <input type="submit" value="Search">
</form>

<div class="row flex flex-wrap mt5">
  {% for photo in photos %}
    {% if photo.image %}
    <div class="col-4 mb3">
      <a class="flex" href="{% url 'show_photo' pk=photo.pk %}"><img src="{{ photo.thumbnail_image.url }}" class="img-thumbnail"></a>
      <p>{{ photo.title }}</p>
    </div>
    {% endif %}
  {% endfor %}
</div>
<br><p><a class="btn btn-primary mt4" href="{% url 'add_photo' %}">Add New Photo</a></p>

<br>


{% endblock %}