{% extends "base.html" %}

{% block content %}
<div>
    <h1>Comments for {{ photo.title }}</h1>
    <div><img src="{{ photo.image.url }}"></div>
    {% for comment in comments %}
        <div>{{ comment.owner }} says {{ comment.body }}
        </div>
    {% endfor %}            
    <div>
        <h2>Add a New Comment</h2>
        <form action="{% url 'list_comments' pk=photo.pk %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
          <button type="submit">Add Comment to Photo</button><br>
        </div>
        </form>        
    </div>    
    <div>
        <br><br><a class="red" href="{% url 'list_photos' %}">Photo List</a>
        <a class="red" href="{% url 'list_albums' %}">Album List</a>
        <a href="{% url 'profile' %}">Profile Page</a><br>
    </div> 
    <br>       
</div>
{% endblock %}