{% extends "base.html" %}

{% block content %}
<div class="light-purple">
  <h1>Profile</h1>
  <h2>{{ user.username }}'s Albums</h2>
</div>

<form action="/albums/search">
  <input placeholder="find photo" type="text" name="q">
  <input type="submit" value="Search">
</form>

<p><a href="{% url 'add_album' %}">Add New Album</a></p>
<h2>Favorite Albums</h2>
<div class="flex flex-wrap">
  {% for album in starred_albums %}
    <div class="flex ma4"><a href="{% url 'show_album' pk=album.pk %}">{{ album.title }}</a></div>
    {% if album.photos %}
    <br><div class="flex"><img src="{{ album.cover_image.thumbnail_image.url }}"></div>
    {% endif %}
  {% endfor %}
</div>

<h2>All Albums</h2> 
<div class="flex flex-wrap"> 
  {% for album in albums %}
    <div class="flex ma4"><a href="{% url 'show_album' pk=album.pk %}">{{ album.title }}</a></div>
    {% if album.photos %}
    <br><div class="flex"><img src="{{ album.cover_image.thumbnail_image.url }}"></div>
    {% endif %}
  {% endfor %}
</div>
<br>
<div>
    <a class="red" href="{% url 'list_photos' %}">Photo List</a>
    <a class="red" href="{% url 'list_albums' %}">Album List</a>
    <a href="{% url 'profile' %}">Profile Page</a><br>
  </div>
{% endblock %}