{% extends "base.html" %}

{% block content %}
<div class="gray mt5">
  <h1>{{ user.username }}'s Profile</h1>
</div>

<form action="/albums/search">
  <input placeholder="find photo" type="text" name="q">
  <input type="submit" value="Search">
</form>

<div class="mt5">
<h2>My Favorite Albums</h2>
<div class="row flex flex-wrap mt4">
  {% for album in starred_albums %}
  {% if album.photos %}    
    <div class="col-4 mb3">
    <a class="flex" href="{% url 'show_album' pk=album.pk %}"><img src="{{ album.cover_image.thumbnail_image.url }}" class="img-thumbnail"></a>
    <p>{{ album.title }}</p>
    </div>
    {% endif %}
  {% endfor %}
</div>

<div class="mt3">
<h2>All My Albums</h2> 
<div class="row flex flex-wrap mt4">
  {% for album in albums %}
  {% if album.photos %}
    <div class="col-4 mb3">
    <a class="flex" href="{% url 'show_album' pk=album.pk %}"><img src="{{ album.cover_image.thumbnail_image.url }}" class="img-thumbnail"></a>
    <p>{{ album.title }}</p>
    </div>
    {% endif %}
  {% endfor %}
</div>
<br><p><a class="btn btn-primary mt4" href="{% url 'add_album' %}">Add New Album</a></p>
<br>

{% endblock %}