{% extends "base.html" %}


{% block content %}
<div>
  <br>  
  <br>
  <br>
  <br> 
</div>

<div class="w-40 pa3 b--gray b--dotted">
  <h2>{{ album.title }}
    <a id="toggle-starred" href="{% url 'toggle_starred_album' pk=album.pk %}" class="no-underline pointer dib grow">
      {% if album.starred %}
        &#9733;
      {% else %}
        &#9734;
      {% endif %}
      </a>
  </h2>

  <ul style='list-style-type: none'>
    {% for photo in photos %}
      {% if photo.image %}
      <a class="flex" href="{% url 'show_photo' pk=photo.pk %}"><img src="{{ photo.thumbnail_image.url }}" class="img-thumbnail"></a>
    <a class="red" href="{% url 'list_comments' pk=photo.pk %}">Comments</a>
    {% endif %}
    <br>
    {% endfor %}
    {% if request.user == album.owner %}
    <a style="text-decoration:none" class="btn btn-outline-dark mt-2 mt2 mb0 f6 fw4 ttu tracked" href="{% url 'add_photo_to_album' pk=album.pk%}">add photo</a>
    {% endif %}  
  </ul>
</div>




{% endblock %}