{% extends "base.html" %}


{% block content %}
<div>
  <br>  
  <br>
  <br>
  <br> 
</div>

<div class="w-40 pa3 b--light-purple b--dashed">
  <h2>{{ album.title }}
    <a id="toggle-starred" href="{% url 'toggle_starred_photo' pk=photo.pk %}" class="no-underline pointer dib grow">
      {% if photo.starred %}
        &#9733;
      {% else %}
        &#9734;
      {% endif %}
      </a>
  </h2>

  <ul style='list-style-type: none'>
      <div><img src="{{ photo.image.url }}"><br>{{ photo.title }}
        <a class="red" href="{% url 'list_comments' pk=photo.pk %}">Comments</a>
      </div>

    </ul>
</div>

<div>
    <br><a class="red" href="{% url 'list_photos' %}">Photo List</a>
    <a class="red" href="{% url 'list_albums' %}">Album List</a>
    <a href="{% url 'profile' %}">Profile Page</a><br>
</div>


{% endblock %}