<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Gallery</title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
    <link rel=“stylesheet” href=“https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css”>
    <link rel=“stylesheet” href=“https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css”>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body class="sans-serif">  
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">        
        <div class="fl w-50 pa2">
            {% if user.is_authenticated %}
            <a class="f6 link dib light-purple dim mr3 mr4-ns" href="{% url 'account_logout' %}">Click to Log Out</a>
            <p class="mr4 serif i light-purple">You are logged in as {{ user.username }}</p>
            {% else %}
            <a class="f6 link dib light-purple dim mr3 mr4-ns" href="{% url 'account_login' %}">Log In</a>
            <a class="f6 dib light-purple bg-animate  hover-black no-underline pv2 ph4 br-pill ba b--white-20" href={% url 'account_signup' %}>Register</a>
            {% endif %}
        </div>
        <div class="fl w-50 pa2 tr light-purple">
            <h2>Photo Gallery</h2>
        </div>
    </nav>    
    <div class="container mw9 center">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>